* {
  box-sizing: border-box; }

body {
  background: #2c2c2c;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
  body#bg-image {
    background: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover; }
  body:after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(44, 44, 44, 0.7); }

a {
  color: #fff;
  text-decoration: none; }

.secondary-color {
  color: #FF5A09; }

header {
  position: fixed;
  width: 100%;
  z-index: 2; }
  header div.menu-btn {
    position: fixed;
    top: 35px;
    right: 35px;
    z-index: 3;
    cursor: pointer; }
    header div.menu-btn:hover {
      color: #FF5A09;
      transition: all 0.5s ease-out; }
    header div.menu-btn .material-icons {
      font-size: 48px; }
  header nav.menu {
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden; }
    header nav.menu.show {
      visibility: visible; }
    header nav.menu .menu-branding,
    header nav.menu .menu-nav {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      float: left;
      width: 50%;
      height: 100vh;
      overflow: hidden; }
    header nav.menu .menu-nav {
      margin: 0;
      padding: 0;
      background: rgba(31, 31, 31, 0.8);
      list-style: none;
      transform: translate(0, -100%);
      transition: all 0.5s ease-out; }
      header nav.menu .menu-nav.show {
        transform: translate(0, 0); }
      header nav.menu .menu-nav .nav-item {
        transform: translate(600px, 0);
        transition: all 0.5s ease-out; }
        header nav.menu .menu-nav .nav-item.show {
          transform: translate(0, 0); }
        header nav.menu .menu-nav .nav-item.current-page > a {
          color: #FF5A09; }
        header nav.menu .menu-nav .nav-item .nav-link {
          display: inline-block;
          position: relative;
          font-size: 30px;
          text-transform: uppercase;
          padding: 1rem 0;
          font-weight: 300;
          color: #fff;
          text-decoration: none; }
          header nav.menu .menu-nav .nav-item .nav-link:hover {
            color: #FF5A09;
            transition: all 0.5s ease-out; }
      header nav.menu .menu-nav .nav-item:nth-child(1) {
        transition-delay: 0.1s; }
      header nav.menu .menu-nav .nav-item:nth-child(2) {
        transition-delay: 0.2s; }
      header nav.menu .menu-nav .nav-item:nth-child(3) {
        transition-delay: 0.3s; }
      header nav.menu .menu-nav .nav-item:nth-child(4) {
        transition-delay: 0.4s; }
    header nav.menu .menu-branding {
      margin: 0;
      padding: 0;
      background: rgba(44, 44, 44, 0.8);
      transform: translate(0, 100%);
      transition: all 0.5s ease-out; }
      header nav.menu .menu-branding.show {
        transform: translate(0, 0); }
      header nav.menu .menu-branding .portrait {
        width: 250px;
        height: 250px;
        background: url(../img/Untitled.jpg);
        background-size: cover;
        border-radius: 50%;
        border: solid 3px #FF5A09; }

main {
  padding: 4rem;
  height: 100%; }
  main#home {
    overflow: hidden; }
  main h1.large-header {
    margin: 0;
    font-weight: 400;
    margin-top: 10vh;
    font-size: 4rem; }
    main h1.large-header span.secondary-color {
      color: #FF5A09; }
  main h2.small-header {
    margin: 0;
    font-weight: 400;
    font-size: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(52, 52, 52, 0.5); }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #FF5A09;
        transition: all 0.5s ease-out; }

main .about-info {
  margin-top: 2rem;
  display: grid;
  grid-template-areas: 'bio-img bio bio' 'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem; }
  main .about-info .bio-img {
    grid-area: bio-img;
    margin: auto;
    border-radius: 50%;
    border: solid 3px #FF5A09;
    background-image: url(../img/Untitled.jpg);
    background-size: cover;
    width: 170px;
    height: 170px; }
  main .about-info .bio {
    grid-area: bio;
    font-size: 1.5rem; }
  main .about-info .job {
    background: #393939;
    padding: 0.5rem;
    border-bottom: solid 3px #FF5A09; }
  main .about-info .job1 {
    grid-area: job1; }
  main .about-info .job2 {
    grid-area: job2; }
  main .about-info .job3 {
    grid-area: job3; }

main div.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 2rem; }
  main div.projects img {
    width: 100%;
    border: solid 3px #fff; }
    main div.projects img:hover {
      opacity: 0.5;
      border-color: #FF5A09;
      transition: all 0.5s ease-out; }
  main div.projects div.item h4.project-name {
    margin: 0; }
  main div.projects div.item p {
    margin: 0;
    margin-bottom: 1rem; }
  main div.projects div.item a.btn-dark {
    border-radius: 5px;
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    background: black;
    color: #fff; }
    main div.projects div.item a.btn-dark:hover {
      background: #FF5A09;
      transition: all 0.5s ease-out; }
  main div.projects div.item a.btn-light {
    border-radius: 5px;
    margin-bottom: 0.5rem;
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    background: #acacac;
    color: #000; }
    main div.projects div.item a.btn-light:hover {
      background: #FF5A09;
      transition: all 0.5s ease-out; }

main .contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem; }
  main .contact-info div {
    font-size: 1.5rem;
    border: solid 3px #fff;
    padding: 1rem;
    margin-bottom: 2rem;
    transition: all 0.5s ease-out; }
    main .contact-info div:hover {
      padding: 2rem;
      background: #FF5A09;
      color: black; }
      main .contact-info div:hover span {
        color: black; }

@media screen and (min-width: 1171px) {
  main div.projects {
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  main div.projects {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main h1.large-header {
      line-height: 1;
      margin-bottom: 1rem; }
    main div.about-info {
      grid-template-areas: 'bio-img'  'bio'   'job1'  'job2'  'job3';
      grid-template-columns: 1fr; }
    main div.projects {
      grid-template-columns: repeat(2, 1fr); }
  header div.menu-btn i.material-icons {
    font-size: 36px; }
  header nav.menu ul.menu-nav,
  header nav.menu div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    header nav.menu ul.menu-nav.show,
    header nav.menu div.menu-branding.show {
      transform: translate(0, 0); }
  header nav.menu ul.menu-nav {
    height: 75vh;
    transform: translate(100%, 0);
    font-size: 24px; }
  header nav.menu div.menu-branding {
    height: 25vh;
    transform: translate(-100%, 0); }
    header nav.menu div.menu-branding .portrait {
      width: 150px;
      height: 150px; } }

@media screen and (max-width: 500px) {
  main h1.large-header {
    margin-top: 5vh; }
  main h2.small-header {
    font-size: 1.5rem; }
  main div.projects {
    grid-template-columns: minmax(100px, 1fr); }
  header div.menu-btn i.material-icons {
    font-size: 24px; } }
