header.mobile{
    position: fixed;
    width: 100%;
    z-index: 2;
    div.menu-btn{
        visibility: visible;
        position: fixed;
        top: 35px;
        right: 35px;
        z-index: 3;
        cursor: pointer;

        &:hover{
            color: $secondary-color;
            @include easeOut();
        }

        .material-icons{
            font-size: 48px;
        }
    }

    nav.menu{
        position: fixed;
        top: 0;
        width: 100%;
        visibility: hidden;
        

        &.show{
            visibility: visible;
        }

        
        .menu-branding, 
        .menu-nav{
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            float: left;
            width: 50%;
            height: 100vh;
            overflow: hidden;
        }

        .menu-nav{
            margin: 0;
            padding: 0;
            background: rgba(darken($primary_color, 5), 0.8);
            list-style: none;
            transform: translate(0, -100%);
            @include easeOut();

            &.show{
                transform: translate(0, 0);
            }

            .nav-item{
                transform: translate(600px, 0);
                @include easeOut();

                &.show{
                    transform: translate(0, 0);
                }

                &.current-page > a{
                    color: $secondary-color;
                }

                .nav-link{
                    display: inline-block;
                    position: relative;
                    font-size: 30px;
                    text-transform: uppercase;
                    padding: 1rem 0;
                    font-weight: 300;
                    color: $white-text;
                    text-decoration: none;
                    
                    &:hover{
                        color: $secondary-color;
                        @include easeOut();
                    }
                }
            }

            @for $x from 1 through 4{
                .nav-item:nth-child(#{$x}){
                    transition-delay: 0.1s * $x;
                }
            }
        }

        .menu-branding{
            margin: 0;
            padding: 0;
            background: rgba($primary_color, 0.8);
            transform: translate(0, 100%);
            @include easeOut();

            &.show{
                transform: translate(0, 0);
            }

            .portrait{
                width: 200px;
                height: 200px;
                background: $portrait-url;
                background-size: cover;
                background-position: -15px;
                background-repeat: no-repeat;
                border-radius: 50%;
                border: solid 3px $secondary-color;
            }
        }
    }
}

header.desktop{
    width: 100%;
    height: 10vh;

    div.menu-btn{
        display: none;
    }

    nav.menu{
        width: 100%;

        div.menu-branding{
            display: none;
        }
        
        ul.menu-nav{
            margin: 0;
            padding: 0;
            width: 100%;
            height: 10vh;
            background: rgba(darken($primary-color, 10), 0.8);
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            align-items: flex-end;
            float: right;
            height: 100%;
            list-style: none;

            li.nav-item{
                margin: 1rem 1.5rem;

                &.current-page > a{
                    color: $secondary-color;
                }

                .nav-link{
                    display: inline-block;
                    height: 7vh;
                    position: relative;
                    font-size: 30px;
                    text-transform: uppercase;
                    padding: 1rem 0;
                    font-weight: 300;
                    color: $white-text;
                    text-decoration: none;
                    
                    &:hover{
                        color: $secondary-color;
                        font-size: 32px;
                        @include easeOut();
                    }
                }
            }
        }
    }
}

