main#home{
    padding: 4rem;
    height: 100%;
    margin: 0%;
    &#home{
        overflow: hidden;
    }
    h1.large-header{
        margin: 0;
        font-weight: 400;
        margin-top: 10vh;
        font-size: 4rem;
        span.secondary-color{
            color: $secondary-color;
        }
    }
    h2.small-header{
        margin: 0;
        font-weight: 400;
        font-size: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($color: $primary-color, $amount: 3),0.5);
        
    }

    .icons{
        margin-top: 1rem;

        a{
            padding: 0.4rem;

            &:hover{
                color: $secondary-color;
                @include easeOut();
            }
        }
    }
}

