@include mediaXlarge{
    main{
        div.projects{
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

@include mediaLarge{
    main{
        div.projects{
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@include mediaMedium{
    main{
        align-items: center;
        text-align: center;

        h1.large-header{
            line-height: 1;
            margin-bottom: 1rem;
        }

        div.about-info{
            grid-template-areas:
            'bio-img' 
            'bio'  
            'job1' 
            'job2' 
            'job3';
            grid-template-columns: 1fr; 
        }

        div.projects{
            grid-template-columns: repeat(2, 1fr);
        }
    } 

    header{

        div.menu-btn i.material-icons{
            font-size: 36px;
        }

        nav.menu ul.menu-nav,
        nav.menu div.menu-branding{
            float: none;
            width: 100%;
            min-height: 0;

            &.show{
                transform: translate(0,0);
            }
        }

        nav.menu ul.menu-nav{
            height: 75vh;
            transform: translate(100%,0);
            font-size: 24px;
        }

        nav.menu div.menu-branding{
            height: 25vh;
            transform: translate(-100%,0);

            .portrait{
                width: 150px;
                height: 150px;
            }
        }
    }
}

@include mediaSmall{
    main{
        h1.large-header{
            margin-top: 5vh;
        }

        h2.small-header{
            font-size: 1.5rem;
        }

        div.projects{
            grid-template-columns: minmax(100px,1fr);
        }
    }

    header{
        div.menu-btn i.material-icons{
            font-size: 24px;
        }
    }
}



