@import 'utils';

body {
    @include backgroundImage;
    color: $white-text;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;

    @import 'header';
    @import 'main-content';
}

a{
    color: $white-text;
    text-decoration: none;
}

